*{
    margin: 0%;
    padding: 0%;
}
.maindiv{
    height: fit-content;
    width: 100%;
}
.header{
    height: 80px;
    width: 100%;
   
}
.navimg{
    height: 50px;
    width: 100px;
    /* background-color: red; */
    margin-left: 80px;
}
.navimg img{
    height: 50px;
    width: 100px;
}
.navbar1{
    height: 80px;
    width: 100%;
    background-color: rgb(0, 102, 255);
    display: flex;
    justify-content: space-around;
   padding:15px 0px 0px 0px;

}

.searchbar1 input{
    height: 50px;
    width: 400px;
    /* margin-top: 15px; */
}

.login button{
    height: 50px;
    width: 150px;
   
}

.unorder{
    height: 50px;
    width:350px;
    /* background-color: red; */
text-decoration: none;
}
.unorder li{
    list-style: none;
    /* float: left; */
}
.unorder ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nextdiv{
    height: 150px;
    width: 100%;
    background-color:white;
    display: flex;
   justify-content: space-around;
   padding: 20px 0px 0px 0px;
   text-align: center;
}
.smoll{
height: 100px;
width: 100px;
background-color:white;
}
.smoll img{
    height: 100px;
    width: 100px;
}
/* .fullimg{
    height: 500px;
    width: 100%;
}
.selider img{
    height: 400px;
    width: 100%;
    scroll-behavior: smooth;
} */
.second{
    height: 350px;
    width: 100%;
    background-color:white;
    display: flex;
    /* justify-content: space-around; */ 
  padding: 50px 0px 0px 0px;
}
.fixd{
    height: 380px;
    width: 300px;
    /* background-color: blueviolet; */
}
.mini{
  height: 200px;
  width: 300px;
  padding: 50px 0px 0px 0px;
}
.mini img{
    height: 200px;
    width: 300px;
}
.fixd button{
height: 45px;
width: 150px;
background-color: rgb(0, 119, 255);
margin: 50px 0px 0px 70px;

}

.short{
    height: 300px;
    width: 80%;
    background-color: white;
    padding: 50px 0px 0px 0px;

}
.shortimg{
    display: flex;
    justify-content: space-around;
    height: 250px;
    width: 250px;
    padding: 20px 0px 0px 0px;
}
.last{
    height: 350px;
    width: 80%;
    background-color: pink;
    display: flex;
    justify-content: space-around;
}
.last00{
    height: 300px;
    width: 250px;

    /* background-color: red; */
}
.last1{
    height: 150px;
    width: 250px;
    background-color: green;
}
.last2{
height: 150px;
width: 250px;
background-color: yellow;
}

